html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing:  border-box;
}/* Reset box sizing */


html { font-size: 62.5%; margin:2% 5%  }  /* =10px */
p	 { font-size: 1.4rem; } /* =14px */
h1   {
    font-size: 2.4rem;
    color: red;

} /* =24px */
/* Font sizes rem */

body{
  background: #2c3e50;
  font-size: 18px;
  text-align: center;
  margin: 50px;}

#message{
  background:#34495e;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  padding: 50px;
  margin: 50px auto;
  width: 80%;
}
