html {
  box-sizing: border-box;
  font-family: arial,helvetica;
}

*, *:before, *:after {
  box-sizing:  border-box;
}/* Reset box sizing */


html { font-size: 62.5%; margin:2% 5%  }  /* =10px */
p	 { font-size: 1.4rem; } /* =14px */
h1   {
    font-size: 2.4rem;
    color: red;
    background-color: blue;
} /* =24px */
/* Font sizes rem */

body{
  background-color:#34495e;
  /*background: #2c3e50;*/
  font-size: 18px;
  text-align: center;
  margin: 50px;
}

.background-gif{
  background:  #34495e url('http://www.leblogdukitsch.com/wp-content/uploads/2010/10/gif_kitsch_licorne2.gif');
}

#message{
  background-color: #2c3e50;
  border: solid 10px #e67e22;
  color: #2ecc71;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5rem;
  padding: 50px;
  margin: 50px auto;
  width: 50%;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 45px;
  font-size: 2em;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 1rem;
  background-color: #f1c40f;
  border: none;
}

button:focus {
  outline: none
}
